In [2]:
import pandas as pd
pd.__version__

'2.2.3'

In [3]:
df_zones = pd.read_csv('/home/dmadmin/Downloads/taxi_zone_lookup.csv')

In [4]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [5]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://dmadmin:dmadmin@localhost:5432/ny_taxi')
engine.connect()

In [6]:
print(pd.io.sql.get_schema(df_zones, name='zones'))

CREATE TABLE "zones" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [7]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265